<div class="container-fluid px-5">
    <hr>
    <br>
    <br>
    <br>
    <br>
    <h1>Contact</h1>
    <p>LOREM IPSUM NO SE QUE BLABLA BLA SILLAS PLEGABLES Y MILLON DE COSAS MAS, SI QUIERES CONTACTARNOS CONTACTANOS
        MEDIANTE SEÑALES DE HUMO O VIA TIK TOK, SOMOS LOS MEJORES EN CREAR SERVICIOS ONLINE, PODEMOS CREAR LAS MEJORES
        PAGINAS WEB ASI QUE PORFAVOR CONTACTA CON NOTROS Y DANOS UN POCO DE TRABAJO, NUESTRAS FAMILIAS NECESITAN COMER,
        MI
        FAMILIA SON 7 GATOS.</p>

    <div class="container-fluid bg-light w-75 px-0 pt-2 mb-5 border border-secondary-subtle rounded-1">
        <div class="container-fluid">
            <div class="row g-6 align-items-center justify-content-end mb-3">
                <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><strong>Your E-mail</strong></label>
                </div>
                <div class="col-8">
                    <input type="password" id="inputPassword6" class="form-control"
                        aria-describedby="passwordHelpInline" placeholder="Your email">
                </div>

            </div>
            <div class="row g-3 align-items-top justify-content-end">
                <div class="col-auto">
                    <label for="inputPassword5" class="col-form-label"><strong>Your message</strong></label>
                </div>
                <div class="col-8">
                    <textarea placeholder="Please enter your message here..." rows="4" class="rounded-3 border border-secondary-subtle w-100 p-3"></textarea>
                </div>

            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary mt-2 mb-3 btn-lg " type="button">Submit</button>
        
            </div>
        </div>
    </div>
</div>