<!-- your html code here -->

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <h1 class="fw-bold">Este primer encabezado
                    <span class="d-inline d-sm-none"><br></span>
                    <span class="text-danger">Llamará tu atención</span>
                </h1>
                <p>Nos peleamos diariamente con el Bootstrap y los comandos Git, 
                    pero al final siempre conseguimos llegar buen puerto, 
                    logrando que todo funcione, aprendiendo algo nuevo y mejorando cada versión</p>
            </div>
            <div class="col-sm-12 col-md-6 text-center">     
               <img src="/website/assets/img/NewProject.jpg" alt="imagen" class="rounded-circle img-fluid"
                            style="width: 200px; height: 200px; object-fit: cover;">
           </div>
        </div>
    </div>
</section>