<!-- your html code here -->

<section class="py-5 container border-bottom border-2 px-5">
    
        <div class="row flex-row-reverse">        
           <div class="col-sm-12 col-md-9 text-md-start text-center">
                <h1 class="fw-bold">El segúndo título
                    <span class="d-inline d-sm-none"><br></span>
                    <span class="text-primary">Tambien te molara</span>
                </h1>
                <p>Ahora damos un paso más. Aprendemos a coordinar ramas, 
                    subir cambios y crear pull requests para trabajar en equipo, 
                    manteniendo nuestros proyectos actualizados, ordenados y creciendo juntos con cada commit.</p>
            </div>
            <div class="col-sm-12 col-md-3 text-center">     
              <div class="ratio ratio-1x1">  
               <img class="rounded-circle object-fit-cover"
                 alt="imagen"
                 src="/website/assets/img/NewProject_02.jpg"
                > 
              </div>                
           </div>
        </div>
    
</section>
